<nav id="menu">
	<h2>Menu</h2>
	<ul>
          {% assign sorted_pages = site.pages | sort:"order" %}
          {% for page in sorted_pages %}
		{% if page.path == "index.html" %}
		<li><a href="{{ page.url | prepend: site.baseurl | remove: "index.html" }}">{{ page.title }}</a></li>
		{% endif %} {% endfor %}

		{% for page in sorted_pages %}

		{% if page.title and page.menu_icon %}

		<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.menu_icon }} {{ page.title }}</a></li>

		{% endif %} {% endfor %}
		<li><a href="#footer">✉️ Nous contacter</a></li>
	</ul>
</nav>
