<section class="tiles">

{% for post in site.posts limit:site.front-page-posts %}
	<article class="style{{ forloop.index | plus:1 }}">
		<span class="image">
                  <img src="{{ site.url }}{{ site.baseurl }}/images/tiles/{{post.tile-image | default: 'default.jpg'}}" alt="" />
		</span>
		<a href="{{ post.url | prepend:site.baseurl | prepend:site.url }}">
		  <h2>{% for category in post.categories %}{% if category == "presentations" %}🖵{% endif %}{% endfor %} {{ post.title }}<br/>({{ post.date | date: "%d/%m/%Y"}})</h2>
			<div class="content">
				<p>{{ post.summary }}</p>
			</div>
		</a>
	</article>
{% endfor %}

</section>
